@import '../../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE
.heroHomeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 173vmin;
  background: radial-gradient(142.34% 65.29% at 50% 50%, #FFFFFF 0%, #CFF2FF 34.9%, #C8EAF7 62.5%, #C0E1ED 100%, #C5E7F3 100%);
}

.headerContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 90vmin;
  padding: 0 1rem;
  color: $text;
}

.h2Hero {
  font-size: 6.5vmin;
  font-weight: 300;
}

.h1Hero {
  width: 70vmin;
  margin-top: 1.5vmin;
  font-size: 14vmin;
  font-weight: 700;
  line-height: 106.5%;
}

.startBtn {
  padding: 0.3rem 2rem;
  margin-top: 7vmin;
  border: none;
  border-radius: 3px;
  background-color: $accent;
  font-family: 'Poppins', sans-serif;
  font-size: 5vmin;
  font-weight: 700;
  color: $off-white;
  cursor: pointer;
}

.houseImg {
  z-index: 0;
  position: absolute;
  width: 130vmin;
  height: auto;
  top: 68vmin;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .heroHomeContainer {
    height: 100vmin;
  }

  .headerContainer {
    height: 80vmin;
    padding: 0 3rem;
  }

  .houseImg {
    width: 120vmin;
    height: auto;
    top: 9vmin;
    left: 75vmin;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .heroHomeContainer {
    height: 100vmin;
  }

  .headerContainer {
    width: fit-content;
    height: 100vmin;
    margin: 0 5vw;
    padding: 0 1.5rem 12vmin 1.5rem;
    background-color: rgba(255, 254, 252, 0.4);
  }

  .h2Hero {
    font-size: 4.2vmin;
  }

  .h1Hero {
    width: 40vmin;
    margin-top: 1.5vmin;
    font-size: 8.7vmin;
  }

  .startBtn {
    padding: 0.3rem 2.3rem;
    margin-top: 5vmin;
    font-size: 3.1vmin;
  }

  .houseImg {
    width: 80vw;
    top: 14vmin;
    left: 32vw;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
  .heroHomeContainer {
    height: 85vmin;
  }

  .headerContainer {
    height: 85vmin;
    margin: 0 calc((95vw - 100vh) / 3);
    padding: 0 4vmin 16vmin 4vmin;
  }

  .h2Hero {
    font-size: 3.8vmin;
  }

  .h1Hero {
    width: 41vmin;
    margin-top: 1vmin;
    font-size: 9vmin;
  }

  .startBtn {
    padding: 0.4rem 2.7rem;
    margin-top: 4vmin;
    font-size: calc(0.5rem + 1.5vmin);
  }

  .houseImg {
    width: 100vmin;
    top: 7vmin;
    left: auto;
    right: calc((88vw - 100vh) / 3);
  }
}