@import '../../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.durationItemContainer {
  display: grid;
  grid-template-columns: auto 25vmin;
  align-items: center;
  margin-bottom: 5vmin;
}

.basketItemContainer {
  display: grid;
  grid-template-columns: 7vmin auto 25vmin;
  align-items: center;
}

.deleteBtn {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border: none;
  background-color: transparent;
  color: $text-light;
  cursor: pointer;
}

.deleteIcon {
  width: 4.5vmin;
  height: 4.5vmin;

  &:hover {
    color: $accent;
    transform: scale(0.96);
  }
}

.durationName {
  display: flex;
  align-items: center;
  height: 100%;
}

.itemName {
  display: flex;
  align-items: center;
  height: 100%;
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  border-left: 2px solid $text-light-opacity;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .durationItemContainer {
    grid-template-columns: auto 13vmin;
  }

  .basketItemContainer {
    grid-template-columns: 3vmin auto 13vmin;
  }

  .itemName {
    margin-left: 3vmin;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
  .durationItemContainer {
    grid-template-columns: auto 12vmin;
  }

  .basketItemContainer {
    grid-template-columns: 2.5vmin auto 12vmin;
  }

  .deleteIcon {
    &:active {
      transform: scale(0.96);
    }
  }
}
