@import '../../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE
.durationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 5rem 1rem 0 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepNumber {
  font-size: 1.7rem;
  font-weight: 700;
  color: $accent;
}

.stepName {
  font-size: 1.4em;
  font-weight: 700;
}

.plateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.spoilerPlate {
  font-size: 1em;
  font-weight: 200;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .durationContainer {
    padding: 5rem 3rem 0 3rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .durationContainer {
    padding: 6rem 1.5rem 0 1.5rem;
  }

  .stepNumber {
    font-size: 1.7em;
  }

  .stepName {
    font-size: 1.3em;
  }

  .plateWrapper {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    gap: 5vmin;
  }

  .spoilerPlate {
    text-align: center;
  }
}