@import '../../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE
.quoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 0 1rem;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 0.3rem 1rem;
  border-right: 4px solid $accent;
  border-left: 4px solid $accent;
}

.quote {
  font-size: 1.3em;
  font-weight: 200;
  text-align: center;
}

.quoteSpan {
  display: block;
  font-weight: 700;
}

.arrowIcon {
  font-size: 2.5em;
  color: $text-light-opacity;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .quoteContainer {
    padding: 4rem 3rem 0 3rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .quoteContainer {
    padding: 5rem 1.5rem 0 1.5rem;
  }

  .quoteBox {
    gap: 1rem;
    width: 65vmin;
    padding: 0.3rem 1.5rem;
  }

  .quote {
    width: 22rem;
    font-size: 1.3em;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
  .quoteContainer {
    padding: 10vmin 1.5rem 0 1.5rem;
  }

  .quoteBox {
    gap: 1.5rem;
    width: 65vmin;
    padding: 0.7rem 1.5rem;
  }
}