@import '../../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE
.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-grow:1;
  padding: 2rem 1rem 0 1rem;
}

.daysBtn {
  margin-left: 0.4rem;
  width: 1.7rem;
  border:none;
  background-color: transparent;
  font-size: 1.12rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.chosenDaysBtn {
  margin-left: 0.4rem;
  width: 1.7rem;
  border: none;
  border-radius: 3px;
  background-color: $accent;
  font-size: 1.12rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: $off-white;
  cursor: pointer;
}

.daysSelect {
  margin-left: 0.4rem;
  padding: 0 0.3rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.activityContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .shopContainer {
    padding: 2rem 3rem 0 3rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .shopContainer {
    padding: 2rem 1.5rem 0 1.5rem;
  }

  .activityContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0 0 0;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
  .shopContainer {
    padding: 3vmin calc((95vw - 100vh) / 3) 0 calc((95vw - 100vh) / 3);
  }

  .activityContainer {
    padding: 4vmin 0 5vmin 0;
  }
}
